.container {
    width: 100%;
    background-color: white;
    min-height: calc(100vh - 97px);
    color: black;
}

.main {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    margin: auto;
    position: relative;
}

.leftColumn {
    border: 1px solid lightgray;
    height: 500px;
    width: 360px;
    position: sticky;
    top: 80px;
    left: 0;
    margin-right: 20px;
    margin-top: 67px;
    top: 105px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.twitterCard {
    width: 600px;
    height: 280px;
    border-radius: 20px;
    margin: 0 70px 70px;
    border: 1px solid black;
}

.mainFeed {
    margin-bottom: 30px;
}

.leftHeader {
    display: flex;
    flex-direction: row;
    background-color: #FCF7F8;
    justify-content: space-around;
    margin-bottom: 4px;
}

.leftHeader:first-child {
    border-top-left-radius: 10px;
    border: none;
}

.leftHeader:nth-child(1) {
    border-top-right-radius: 10px;
    border: none;
}

.headerButton {
    padding: 15px;
    color: #0E131F;
    cursor: pointer;
    width: 50%;
    font-size: 17px;
    text-align: center;
}

.headerButton:hover {
    border-bottom: 2px solid lightgray;
    /* border-bottom: 1px solid black; */
}

.listRow {
    color: black;
    height: 30px;
    font-size: 20px;
    padding: 4px 0;
    cursor: pointer;
    padding-left: 20px;
}

.listRow:hover {
    background-color: #FCF7F8;
}

.sortContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 40px;
    width: 800px;
}

.sortLabel {
    color: black;
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
}

.sortLabel:hover {
    text-decoration: underline;
}

.lazyLoad {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 95px;
    opacity: 0.4;
    background-color: lightblue;
    z-index: 100000;
}

.signInContainer {
    color: black;
    text-align: center;
}

.listColumn {
    overflow: auto;
}